# Build directories
build/
out/
bin/

# IDE files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Dependencies
node_modules/
.vscode-test/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps 